* {
  border: 0px;
  margin: 0px;
  padding: 0px;
  color: black;
}
h1{
    text-align: center;
    margin: 20px 0px;
}
ul,
ol {
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
}
#me {
    margin: 45px 30px;
}
#deyvi {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#deyvi p {

    text-align: justify;
    width: 400px;
    
}
#deyvi img{
    width: 20%;
    border-radius: 50%;
}
nav ul {
  display: flex;
  justify-content: space-around;
}
nav ul li {
  margin: 10px 20px;
}
nav ul li a {
  text-decoration: none;
}
.float {
  border-radius: 15px;
  width: 100%;
  margin: 60px 30px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  -webkit-box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 15px -7px rgba(0, 0, 0, 0.75);
}
.cuadro {
  width: 15%;
  height: 200px;
}
#floor-1 {
  display: flex;
  justify-content: space-around;
  margin: 30px 0px;
}
#floor-2 {
  display: flex;
  justify-content: space-around;
}
#cont {
  display: flex;
  justify-content: space-around;
  margin: 60px 30px;
}
#proyects {
  background-color: #f3f3f3;
  padding: 60px 0px;
}
h2 {
    text-align: center;
    margin: 20px 0px;
}
.proy {
  background-color: #fff;
  width: 20%;
  padding: 20px;
  border-radius: 5px;
}
.proy p {
  text-align: justify;
  background-color: #fff;
}
.proy h3 {
  margin: 15px 0px;
}
.proy img {
  height: 200px;
}
